del.html
delete.html
gitbash.sh
test.html
*.py
index-old.html
delete.css
.vscode
__pycache__

**/index-old.html
**/del.html
**/del.css
**/test.html
**/__pycache__
records-BO/template.html
collections/file-gen-script.py

assets/del.html
assets/delete.css
assets/file-gen-script copy.py
assets/index-old.html
assets/test.html