del.html
delete.html
gitbash.sh
test.html
*.py
index-old.html
delete.css
.vscode
__pycache__

**/index-old.html
**/del.html
**/del.css
**/test.html
**/__pycache__

Boxoffice-db/template.html
Boxoffice-db

file-gen-script.py

assets/file-gen-script copy.py
collections/file-gen-script.py
assets/del.html
assets/delete.css
assets/index-old.html
assets/test.html

# livetracking/*
# OSadvancesales/*